html{
	position:relative;
	min-height: 100%;
}
body{
	margin: 0 0 120px;
}
/* CSS untuk footer */
footer {
	color:white;
	height:120px;
	background-color:#222222;
	position:absolute;
	width:100%;
	bottom:0px;
}
.footer-link {
	text-align:center;
}
@media screen and (min-width:768px){
#footer-kiri {
	text-align:left;
}
#footer-kanan {
	text-align:right;
}
}
/* akhir dari footer... Yay */
.vertical-align {
	display: flex;
  align-items: center;
}
